{% extends 'full.html.twig' %}

{% block pageBody %}
    <div class="container-fluid" id="main">
        <div class="row clearfix" style="overflow: hidden;">
            <div class="column col-xs-4 col-sm-3 col-md-3 col-lg-2" id="left" style="overflow: scroll;">
                {% block container %}
                {% endblock %}
            </div>
            <div class="column col-xs-8 col-sm-9 col-md-9 col-lg-10" id="map_canvas" >

            </div>

        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ google_map_js(map) }}

{#    <script>
        myOptions = {
            center: new google.maps.LatLng( {{ltd|default('50')}} , {{lgt|default('0')}} ),
            zoom: 6,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };
    </script>#}
{#    <script src="{{ asset('js/gmaps.js') }}"></script>#}
{% endblock %}