{% extends 'full.html.twig' %}

{% block pageTitle %}
    Register | {{ parent() }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/register.css') }}" >
    <style>
        #googlemaps { 
            height: 100%; 
            width: 100%; 
            position:absolute; 
            top: 0; 
            left: 0; 
            z-index: 0; /* Set z-index to 0 as it will be on a layer below the contact form */
        }
    </style>
{% endblock %}
                             
{% block pageBody %}
    <div id="googlemaps"></div>
    <div class="container">
        <div class="row centered-form">
            <div class="
                 col-xs-12
                 col-sm-offset-2 col-sm-8
                 col-md-offset-3 col-md-6
                 col-lg-offset-4 col-lg-4
                 ">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Login <small>Use e-mail or login</small></h3>
                    </div>
                    <div class="panel-body">
                        {% if error %}
                            <div class="alert alert-danger" role="alert">{{ error.message|trans({'Bad credentials': 'Incorrect login or password'}) }}</div>
                        {% endif %}

                        <form class="form-horizontal" action="{{ path("fos_user_security_check") }}" method="post">
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                            <div class="form-group">
                                <label for="username" class="col-sm-3 control-label">{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="username" name="_username" value="{{ last_username }}" required="required" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="password" class="col-sm-3 control-label">{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}</label>
                                <div class="col-sm-9">
                                    <input type="password" class="form-control" id="password" name="_password" required="required" />
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-3 control-label" ></div>
                                <div class="col-sm-9">
                                    <label  for="remember_me">
                                        <input type="checkbox"  id="remember_me" name="_remember_me" value="on" />
                                        {{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}
                                    </label>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-offset-3 col-sm-3">
                                    <input class="btn btn-success" type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-3 col-sm-8">
                                    <a class="btn btn-block btn-social btn-facebook" href="{{ path('facebook_register') }}">
                                      <i class="fa fa-facebook"></i> Log in with Facebook
                                    </a>
                                </div>
                            </div>

                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{%block javascripts %}
    {{ parent() }}

    <script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>

    <script>

    // The latitude and longitude of your business / place
        var position = [0, 0];

        function showGoogleMaps() {

            var latLng = new google.maps.LatLng(position[0], position[1]);

            var mapOptions = {
                zoom: 4, // initialize zoom level - the max value is 21
                streetViewControl: false, // hide the yellow Street View pegman
                scaleControl: false, // allow users to zoom the Google Map
                disableDefaultUI: true,
                mapTypeId: google.maps.MapTypeId.ROADMAP,
                center: latLng
            };

            map = new google.maps.Map(document.getElementById('googlemaps'),
                    mapOptions);

        }

        google.maps.event.addDomListener(window, 'load', showGoogleMaps);
    </script>

{% endblock %}
