{% extends 'full.html.twig' %}

{% block pageTitle %}
    Invitations | {{ parent() }}
{% endblock %}

{% block pageBody %}
    <br/>
    <div class="container">
        <div class="row clearfix">
            <div class="column col-xs-12 col-sm-offset-1 col-sm-10">
                <div class="row clearfix">
                    <div class="column col-sm-6">
                        <h2>{{ event.eventName }}</h2>
                        <blockquote>
                            <p>{{ event.description }}</p>
                        </blockquote>
                    </div>
                    <div class="column col-sm-6">
                        {% include 'views/events/eventTable.html.twig' %}
                    </div>                
                </div>
                <div class="row clearfix">
                    <div class="column col-sm-12"><hr></div>
                </div>


                <form method="POST" action="" id="inviteUsersForm">
                    <div class="row clearfix">
                        <div class="col-sm-8 column border-right">

                            <div class="row display-table">
                                <div class="col-sm-5 display-cell">
                                    <h4>Received invitations</h4>
                                    <select multiple class="form-control" name="inviteUsers[]" size="8" id="invitedUsers">
                                        {% for user in invitedUsers %}
                                            <option value="{{user.id}}">{{user.username }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col-sm-2 text-center display-cell" >
                                    <button type="button" class="btn btn-default" name="delUserFromInvitation"><</button>
                                    <button type="button" class="btn btn-default" name="addUserToInvitation">></button><br>
                                </div>
                                <div class="col-sm-5 display-cell">
                                    <h4>Uninvited members </h4>
                                    <select multiple class="form-control" size="8" id="allUsers">
                                        {% for user in uninvitedUsers %}
                                            <option value="{{user.id}}">{{user.username }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <strong>Description:</strong>
                                    <textarea class="form-control" style="min-height: 100px;max-width: 100%;"
                                              name="description">{{description}}</textarea>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <button type="submit" class="btn btn-success pull-right">Save</button>
                                </div>
                            </div>

                        </div>
                        <div class="col-sm-4 column">
                            <h4>Joined members <span data-toggle="tooltip" title="Select users which you want to delete from the event".><i class="fa fa-info-circle"></i></span></h4>
                            <div class="row">
                                <div class="col-sm-12">
                                    <select multiple class="form-control" size="15" name="deleteUsers[]" id="deleteUsers">
                                        {% for user in joinedUsers %}
                                            <option value="{{user.id}}">{{user.username }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <style>
        .border-right {
            border-right: 1px solid black;
        }
        .display-table{
            display: table;
            table-layout: fixed;
        }

        .display-cell{
            display: table-cell;
            vertical-align: middle;
            float: none;
        }
    </style>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
            var markToDelete = $("#deleteUsers option:selected").length;
        $().ready(function () {
            $('#deleteUsers').click(function () {
                markToDelete = $("#deleteUsers option:selected").length;
                
                if ( markToDelete ) {
                    $('button[type=submit]')
                            .removeClass('btn-success').addClass('btn-warning')
                            .text('Save and delete users');
                } else {
                    $('button[type=submit]')
                    .removeClass('btn-warning').addClass('btn-success')
                            .text('Save');
                }
            });
            $('button[type=submit]').click(function (e) {
                e.preventDefault();
                
                if (markToDelete) {
                    bootbox.confirm("You are going to delete <b>" + markToDelete + "</b> users from event. Are you sure?", function (result) {
                        if (result) {
                            $('#invitedUsers option').prop('selected', true);
                            $("#inviteUsersForm").submit();
                        }
                    });
                } else {
                    $('#invitedUsers option').prop('selected', true);
                    $("#inviteUsersForm").submit();
                }
            });
            
            $('button[name=delUserFromInvitation]').click(function () {
                return !$('#allUsers option:selected').remove().appendTo('#invitedUsers');
            });

            $('button[name=addUserToInvitation]').click(function () {
                return !$('#invitedUsers option:selected').remove().appendTo('#allUsers');
            });

            $("#inviteusersForm").on('submit', function () {
                $("#inviteusersForm").find('input, select').attr('disabled', false);
            });
        });
    </script>
{% endblock %}