{% extends 'full.html.twig' %}

{% block pageTitle %}
    New event | {{ parent() }}
{% endblock %}

{% block pageBody %}
    <div class="container" style="margin-top: 20px;">
    <div class="col-sm-7 col-md-5 col-lg-5 column ">
        <div class="row">
            {{ form_start(form )}}
            {{ form_errors(form) }}

            <div class="col-md-12 col-lg-12 col-sm-12">
                {{ form_row(form.eventName) }}
            </div>

            <div class="col-md-12 col-lg-12 col-sm-12">
                {{ form_row(form.description) }}
            </div>

            <div class="col-md-12 col-lg-12 col-sm-12">
                {{ form_row(form.location) }}
            </div>

            <div class="col-md-6 col-lg-6 col-sm-6">
                {{ form_row(form.latitude) }}
            </div>

            <div class="col-md-6 col-lg-6 col-sm-6">
                {{ form_row(form.longitude) }}
            </div>

            <div class="col-md-6 col-lg-6 col-sm-6">
                {{ form_row(form.eventStart) }}
            </div>

            <div class="col-md-6 col-lg-6 col-sm-6">
                {{ form_row(form.eventStop) }}
            </div>

            <div class="col-md-6 col-lg-6 col-sm-6">
                {{ form_row(form.eventSignUpEndDate) }}
            </div>

            <div class="col-md-6 col-lg-6 col-sm-6">
                {{ form_row(form.maxGuests) }}
            </div>

            <div class="col-md-12 col-lg-12 col-sm-12">
                {{ form_row(form.private) }}
            </div>

            <div class="col-md-12 col-lg-12 col-sm-12">
                {% if not form.eventName.vars.disabled %}
                <input type="submit" value="Save event" class="btn btn-success" />
                {% endif %}
                
                {% if event.user == app.user %}
                    <a class="btn btn-info" href="{{ path('casper_eventMembers') }}/{{event.id}}" role="button">Manage this event</a>
                {% endif %}
                
                {% if app.user in event.joinedUsers %}
                    {% if event.user != app.user %}
                        <a class="btn btn-danger" href="{{ path('casper_eventMembers') }}/{{event.id}}" role="button">Unsubscripte</a>
                    {% endif %}
                {% else %}
                    <a class="btn btn-success" href="{{ path('casper_eventMembers') }}/{{event.id}}" role="button">Join the event</a>
                {% endif %}
            </div>
            {{ form_end(form) }}
        </div>
    </div>
    <div class='hidden-xs col-sm-5 col-md-6 col-md-offset-1 col-lg-6 col-lg-offset-1' id="map_canvas"
         style="
            background-color: whitesmoke;
            color: #555;
            height: 450px;
         ">
        {{ google_map(map) }}
    </div>
            </div>
{% endblock %}




{%block javascripts %}
    {{ parent() }}
    {{ form_javascript(form) }}
   


<script>
    initialize({{mapjs}});
    $(document).ready(function(){
        $("button[name='location search']").click(function(e){
            findAddress( $('input[name=address]').val() );
        });
    });
</script>
<script src="{{ asset('js/gmaps.js') }}"></script>
{% endblock %}


{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/scdatetimepicker/css/datetimepicker.css') }}" >
{% endblock %}