<table class="table table-striped table-condensed">
    <tbody>
        <tr>
            <td>Event start</td>
            <td>{{ event.eventStart|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <td>Event end</td>
            <td>{{ event.eventStop|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <td>Sign up untill</td>
            <td>
                {% if event.EventSignUpTimeleft %}
                    {% if event.EventSignUpTimeleft > (2*24*60) %}
                        {% set class = 'success' %}
                    {% elseif event.EventSignUpTimeleft > (1*24*60) %}
                        {% set class = 'info' %}
                    {% else %}
                        {% set class = 'warning' %}
                    {% endif %}
                    <span class="label label-{{ class }}" data-toggle='title' title='{{ event.eventSignUpEndDate|date('Y-m-d H:i:s') }}' >
                        {{event.getEventSignUpTimeleft('time')}} left
                    </span>

                {% else %}
                    <span class="label label-danger" data-toggle='title' title='{{ event.eventSignUpEndDate|date('Y-m-d H:i:s') }}'>Time has left</span>
                {% endif %}
            </td>
        </tr>
        <tr>
            <td>Guests</td>
            <td>{{ event.joinedUsers|length }}
                {% if event.maxGuests %}
                    / {{ event.maxGuests }}
                {% endif %}
                
            </td>
        </tr>
        <tr>
            <td>Geo</td>
            <td>{{ event.latitude |slice(0,6)}} / {{ event.longitude|slice(0,6) }}</td>
        </tr>
    </tbody>
</table>